.all-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form-header {
  width: 25%;
  margin: auto;
}
.form-name {
  color:white;
  font-size: 2.2rem;
  font-weight: bolder;
}
.all-form a {
  text-decoration: none;
  color: white;
}
.form-link {
  margin: 0.5rem auto;
  width: 13rem;
  padding: 0.5rem;
  background-color: green;
  border: 2px solid #c2c27da9; 
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}
.form-link:hover {
  transform: scale(1.1);
}

@media (max-width: 760px) {
  .form-header {
    width: 100%;
  }
}
