header {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 15px 10px -15px var(--darker);
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--dark);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    top: 2px;
    right: 115%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--dark);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.brand-text {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: var(--dark);
    margin-left: 0.7rem;
    margin-bottom: 0.3rem;
}

.brand-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
    margin-left: 1rem;
}

.employee-list--ico,
.add-employee--ico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    margin: 0 auto;
}

.nav-links {
    margin-right: 1rem;
}