.banner {
  width: 80%;
  height: 18vh;

  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.banner img {
  height: 18rem;
  position: relative;
  bottom: 8rem;
}
.banner h2 {
  margin-right: 5rem;
}

@media (max-width: 910px) {
  .banner {
    width: 90%;
    height: 18vh;

    display: flex;
    justify-content: space-evenly;
    margin: auto;
  }
  .banner img {
    height: 10rem;
    position: relative;
    bottom: 8rem;
  }
  .banner h2 {
    margin-right: 5rem;
  }
}
@media (max-width: 760px) {
  .banner {
    width: 98%;
    height: 18vh;

    display: flex;
    justify-content: space-evenly;
    margin: auto;
  }
  .banner img {
    height: 10rem;
    position: relative;
    bottom: 0rem;
  }
  .banner h2 {
    margin-right: 5rem;
  }
}
