/* Styles pour la section d'erreur */
.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
  }
  
  .error-page-body {
    height: 100vh; /* Assurez-vous que le corps prend toute la hauteur */
    overflow: hidden; /* Désactiver le défilement */
    margin: 0; /* Assurez-vous qu'il n'y a pas de marge */
  }
  .error-image {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .error {
    padding: 2rem;
  }
  
  .error-code {
    color: red;
    font-size: 6rem;
    margin: 0;
  }
  
  .error-message {
    font-size: 1.5rem;
    font-weight: bolder;
    color: red;
    animation: clignote 3s linear infinite;
  }
  
  @keyframes clignote {
    50% {
      opacity: 0.7;
    }
  }
  
  .error-links {
    margin-top: 2rem;
  }
  
  .error-link {
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: #444444;
    border-radius: 0.5rem;
  }
  
  .error-link a {
    text-decoration: none;
    color: white;
  }
  